/* rem and em do not depend on html font-size in media queries.
Instead, 1rem = 1em = 16px
*/

/* BELOW 1344PX (SMALLER DESKTOPS)*/

@media (max-width: 84em){
    .hero{
        max-width: 120rem;
    }

    .heading-primary{
        font-size: 4.4rem;
    }

    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}